:root {
    --white_text_color: white;
    --search_button_color: lightskyblue;
}

header {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--white_text_color);
    padding: 10px 0;
    text-align: center;
    font-size: 50px;
    background: linear-gradient(90deg, rgba(0,112,255,1) 0%, rgba(74,74,217,1) 25%, rgba(0,0,0,1) 100%);
    height: 65px;
}

aside {
    font-family: "Rakkas", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
    max-width: 250px;
    padding: 10px;
    border-bottom: 2px solid lightgrey;
}

#city {
    width: 100%;
}

#search_button {
    margin: 5px auto;
    width: 100%;
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    color: var(--white_text_color);
    background: var(--search_button_color);
}

#search_button:hover {
    margin: 5px auto;
    width: 100%;
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    color: var(--white_text_color);
    background: gold;
}